html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body.dark-mode {
  background-color: rgb(45, 45, 45);
  color: white;
}

.dark-mode .navbar {
  background-color: black !important;
  border-color: black;
}

.dark-mode .navbar a.nav-link {
  color: white !important;
}

.dark-mode .navbar-brand {
  color: white !important;
}

.dark-mode .navbar-toggler {
  background-color: white;
}

.dark-mode table {
  background-color: black !important;
  color: white !important;
}

.dark-mode .table-striped tbody tr:nth-child(odd) {
  background-color: #333 !important;
}

.dark-mode .table-striped tbody tr:nth-child(even) {
  background-color: #444 !important;
}

.dark-mode .table thead {
  background-color: #222 !important;
  color: white !important;
}

.dark-mode .table td, .dark-mode .table th {
  border-color: #555 !important;
  color: white
}

.dark-mode .crni {
  color: white;
}

#searchDropdown {
  max-height: 250px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
}
