@model IEnumerable<klepetalko.Models.Friendship>

@{
    ViewData["Title"] = "My Friends";
}

<div>
    <h4>Dodaj Prijatelja</h4>
    <form asp-action="AddFriend" asp-controller="Friendship" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="friendUsername" name="friendUsername" placeholder="Vnesi uporabniško ime" required>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>

<h2 class="mt-5">Moji Prijatelji</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Uporabniško Ime</th>
            <th>Datum</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var friendship in Model)
        {
            <tr>
                <td>@friendship.Friend.UserName</td>
                <td>@friendship.FriendshipTime.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <form asp-action="StartChat" asp-controller="Message" method="post" style="display:inline;">
                    <input type="hidden" name="friendId" value="@friendship.Friend.Id" />
                    <button type="submit" class="btn btn-primary">Pošlji Sporočilo</button>
                </form>

                </td>
            </tr>
        }
    </tbody>
</table>



